In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pip install geopy

Requirement already satisfied: geopy in /usr/local/lib/python3.6/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.6/dist-packages (from geopy) (1.50)

In [ ]:
def get_state(df, geolocator, latitude, longitude):
    location = geolocator.reverse((df[latitude], df[longitude]))
    try:
      state = location.raw['address']['state']
    except KeyError:
      state = None
      print("Unable to find state for", location.raw['address'])
    return state

In [ ]:
def get_county(df, geolocator, latitude, longitude):
    location = geolocator.reverse((df[latitude], df[longitude]))
    try:
      county = location.raw['address']['county']
    except KeyError:
      county = None
      print("Unable to find county for", location.raw['address']['state'])
    return county

In [ ]:
def get_zip(df, geolocator, latitude, longitude):
  location = geolocator.reverse((df[latitude], df[longitude]))
  try:
    zip = location.raw['address']['postcode']
  except KeyError:
      zip = None
      print("Unable to find zip for", location.raw['address']['county'])
  return zip

In [ ]:
from geopy.geocoders import Nominatim
from geopy.point import Point
geolocator = Nominatim(user_agent="PGSS_CS_Bio")

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/amcguier/pgss2020-bio-phage/master/PhagesDB_Data_AllSequenced_NEW_FINAL.csv')
df

     Phage Name  ... Annotation Submission Date
0          20ES  ...                       None
1           244  ...                       None
2          32HC  ...                       None
3          39HC  ...                       None
4          40AC  ...                       None
...         ...  ...                        ...
3407    ZooBear  ...  2017-11-30 21:10:50+00:00
3408      Zorro  ...  2018-11-19 18:22:36+00:00
3409       Zuko  ...  2019-07-17 20:21:09+00:00
3410       Zulu  ...  2018-08-14 20:02:02+00:00
3411  ZygoTaiga  ...  2014-05-16 03:40:16+00:00

[3412 rows x 44 columns]

In [ ]:
df = df[df["Found Country"] == "USA"]

In [ ]:
df = df.dropna(subset=['GPSLatFormatted'])

In [ ]:
df = df.dropna(subset=['GPSLongFormatted'])

In [ ]:
df

        Phage Name  ... Annotation Submission Date
1              244  ...                       None
6      Aaronocolus  ...  2015-05-19 19:39:11+00:00
7             Abba  ...  2020-02-03 06:34:16+00:00
8     AbbeyMikolon  ...  2017-11-25 05:28:56+00:00
10     AbbysRanger  ...  2019-08-08 15:54:17+00:00
...            ...  ...                        ...
3407       ZooBear  ...  2017-11-30 21:10:50+00:00
3408         Zorro  ...  2018-11-19 18:22:36+00:00
3409          Zuko  ...  2019-07-17 20:21:09+00:00
3410          Zulu  ...  2018-08-14 20:02:02+00:00
3411     ZygoTaiga  ...  2014-05-16 03:40:16+00:00

[2723 rows x 44 columns]

In [ ]:
df[['GPSLatFormatted', 'GPSLongFormatted', 'State', 'County']]

      GPSLatFormatted  GPSLongFormatted  State  County
1           40.444259        -79.953208    NaN     NaN
6           33.213000        -97.148000    NaN     NaN
7           34.067996       -118.450765    NaN     NaN
8           41.244625        -75.887890    NaN     NaN
10          37.397570        -85.019840    NaN     NaN
...               ...               ...    ...     ...
3407        33.197470        -97.132884    NaN     NaN
3408        40.957018        -76.877916    NaN     NaN
3409        38.772500        -90.556400    NaN     NaN
3410        39.172716       -119.719321    NaN     NaN
3411        46.800000        -92.080000    NaN     NaN

[2723 rows x 4 columns]

In [ ]:
df.dtypes

Phage Name                     object
Host                           object
Cluster                        object
Subcluster                     object
Finished Sequence?               bool
Temperate?                     object
Archive Titer                  object
In GenBank?                      bool
Accession #                    object
Published in a Paper?            bool
Genome Length(bp)               int64
GC%                           float64
End Type                       object
Overhang Length (bp)           object
Overhang Sequence              object
# ORFs                         object
# tRNAs                        object
# tmRNAs                       object
Finding Institution            object
Program                        object
Finder Name(s)                 object
Found City                     object
Found State                    object
Found Country                  object
Found GPS Lat                  object
GPSLatFormatted               float64
Found GPS Long                 object
GPSLongFormatted              float64
State                         float64
County                        float64
Year Found                     object
Morphotype                     object
Seq Facility                   object
Shotgun Seq Method             object
From Enriched Sample?          object
Former Name(s)                 object
Date Finished                  object
Phamerated?                      bool
Annotation Status              object
Submitted DNAM File?             bool
Submitted Minimal File?          bool
Author List?                     bool
Cover Sheet?                     bool
Annotation Submission Date     object
dtype: object

In [ ]:
df["State"] = df.apply(get_state, axis = 1, geolocator=geolocator, latitude="GPSLatFormatted", longitude="GPSLongFormatted")

In [ ]:
df["County"] = df.apply(get_county, axis = 1, geolocator=geolocator, latitude="GPSLatFormatted", longitude="GPSLongFormatted")

In [ ]:
df["Zip"] = df.apply(get_zip, axis = 1, geolocator=geolocator, latitude="GPSLatFormatted", longitude="GPSLongFormatted")

In [ ]:
df

In [ ]:
df.to_csv('df_county_state.csv')